#form {
    text-align: center;
    margin-top: 3cm;
}


#title {
    text-align: center;
    margin-top: 2cm;
}

.left_label {
    position:absolute;
    left:5cm;
    width:300px;
}

.right_input {

}
